body {
	padding-top: 70px;
}
.tab-pane{
	padding-top:5px;
}
.x0-type {
	color: dark-gray;
	background-color: #CCCCCC;
}
.x1-type {
	color: gray;
	background-color: white;
}
.half-type {
	color: dark-gray;
	background-color: #FF5C5C;
}
.x2-type {
	color: dark-gray;
	background-color: #99cc99;
}
.bug{
	color: white;
	background-color: olive;
}
.dark{
	color: white;
	background-color: #333;
}
.dragon{
	color: white;
	background-color: navy;
}
.electric{
	color: #333;
	background-color: yellow;
}
.fairy{
	color: #333;
	background-color: #FFC0CB; /*pink*/
}
.fighting{
	color: white;
	background-color: maroon;
}
.fire{
	color: white;
	background-color: red;
}
.flying{
	color: #333;
	background-color: #B0C4DE; /*lightsteelblue*/
}
.ghost{
	color: white;
	background-color: #4B0082; /*indigo*/
}
.grass{
	color: white;
	background-color: green;
}
.ground{
	color: #333;
	background-color: #D2B48C; /*tan*/
}
.ice{
	color: #333;
	background-color: aqua;
}
.normal{
	color: #333;
	background-color: silver;
}
.poison{
	color: white;
	background-color: purple;
}
.psychic{
	color: #333;
	background-color: fuchsia;
}
.rock{
	color: white;
	background-color: #B8A038;
}
.steel{
	color: white;
	background-color: gray;
}
.water{
	color: white;
	background-color: blue;
}