<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{national_id}} :: {{name}}</h3>
        <ul class="list-group">
          {{#types}}
          <li class="list-group-item {{name}}">
            {{name}}
	        </li>
          {{/types}}
	      </ul>
      </div>

      <img src="{{image_src}}" style="background-color: #666666;"/>
       <div class="caption">
        Abilities:
        <ul>
          {{#abilities}}
          <li>{{name}}</li>
          {{/abilities}}
        </ul>

        Egg Group(s):
        <ul>
          {{#egg_groups}}
          <li>{{name}}</li>
          {{/egg_groups}}
        </ul>
        {{#evolutions.length}}
        Evolves to {{#evolutions}}{{to}} {{/evolutions}}
        {{/evolutions.length}}
      </div><br />
    </div>
  </div>

{{#moves}}
  <h1>moves</h1>
  <div class="col-sm-2 col-md-2">
    <ul class="list-group">
      <li class="list-group-item levelup">Level Up <span class="badge">{{levelup.length}}</span></li>
  	  {{#levelup}}
  	  <li class="list-group-item">
  		  {{level}} | {{name}}
  	  </li>
  	  {{/levelup}}
    </ul>
  </div>

  <div class="col-sm-2 col-md-2">
    <ul class="list-group">
      <li class="list-group-item machine">TM/HM<span class="badge">{{machine.length}}</span></li>
  	  {{#machine}}
  	  <li class="list-group-item">
  		  <span class="label label-default">{{mach_id}}</span> {{name}}
  	  </li>
  	  {{/machine}}
    </ul>
  </div>

  <div class="col-sm-2 col-md-2">
    <ul class="list-group">
      <li class="list-group-item tutor">Tutor<span class="badge">{{tutor.length}}</span></li>
      {{#tutor}}
      <li class="list-group-item">
        {{name}}
      </li>
      {{/tutor}}
    </ul>
  </div>

  <div class="col-sm-2 col-md-2">
    <ul class="list-group">
      <li class="list-group-item egg-moves">Old Moves<span class="badge">{{other.length}}</span></li>
      {{#other}}
      <li class="list-group-item">
        {{name}}
      </li>
      {{/other}}
    </ul>
    <ul class="list-group">
      <li class="list-group-item egg-moves">Egg Moves<span class="badge">{{egg_move.length}}</span></li>
      {{#egg_move}}
      <li class="list-group-item">
        {{name}}
      </li>
      {{/egg_move}}
    </ul>
  </div>
  {{/moves}}
</div><!--row -->






