<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{national_id}} :: {{name}}</h3>
        <ul class="list-group">
          {{#types}}
          <li class="list-group-item {{name}}">
            {{name}}
	        </li>
          {{/types}}
	      </ul>
      </div>

      <img src="{{image_src}}" style="background-color: #666666;"/>
       <div class="caption">
        Abilities:
        <ul>
          {{#abilities}}
          <li>{{name}}</li>
          {{/abilities}}
        </ul>

        Egg Group(s):
        <ul>
          {{#egg_groups}}
          <li>{{name}}</li>
          {{/egg_groups}}
        </ul>
        {{#evolutions.length}}
        Evolves to {{#evolutions}}{{to}} {{/evolutions}}
        {{/evolutions.length}}
      </div><br />
    </div>
  </div>

  {{#moves}}
  <div class="">
    <table class="table table-hover table-condensed">
      <tr class="info">
        <th class="col-md-1"><span></span>Level</th>
        <th>Move</th>
      </tr>

      {{#levelup}}
      <tr>
        <td>{{level}}</td>
        <td>{{name}}</td>
      </tr>
      {{/levelup}}
      {{^levelup}}
      <tr>
        <td colspan="2">No level up moves</td>
      </tr>
      {{/levelup}}

      <tr class="info">
        <th class="col-md-1">TM/HM</th>
        <th>Move</th>
      </tr>
      {{#machine}}
      <tr>
        <td><span class="label label-default">{{mach_id}}</span></td>
        <td>{{name}}</td>
      </tr>
      {{/machine}}
      {{^machine}}
      <tr><td colspan="2">No TM/HM moves</td></tr>
      {{/machine}}

      <tr class="info">
        <th class="col-md-1">Tutor</th>
        <th>Move</th>
      </tr>
      {{#tutor}}
      <tr>
        <td></td>
        <td>{{name}}</td>
      </tr>
      {{/tutor}}
      {{^tutor}}
      <tr><td>No tutored moves</td></tr>
      {{/tutor}}

      <tr class="info">
        <th class="col-md-1">Egg Move</th>
        <th>Move</th>
      </tr>
      {{#egg_move}}
      <tr>
        <td></td>
        <td>{{name}}</td>
      </tr>
      {{/egg_move}}
      {{^egg_move}}
      <tr><td colspan="2">No egg moves</td></tr>
      {{/egg_move}}

      <tr class="info">
        <th class="col-md-1">Transfer-Only</th>
        <th>Move</th>
      </tr>
      {{#other}}
      <tr>
        <td></td>
        <td>{{name}}</td>
      </tr>
      {{/other}}
      {{^other}}
      <tr><td colspan="2">No transfer-only moves</td></tr>
      {{/other}}
    </table>
  </div>
  {{/moves}}

</div><!--row -->






